In [1]:
#Herschel Cota
#assignment 3
#penguins classification analysis

In [ ]:
#Q1 download the dataset

In [45]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

In [6]:
#Q2 Load dataset into the tool
df=pd.read_csv("penguins_size.csv")

In [5]:
df

,species,island,culmen_length_mm,culmen_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,MALE
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,FEMALE
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,FEMALE
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,FEMALE
...,...,...,...,...,...,...,...
339,Gentoo,Biscoe,NaN,NaN,NaN,NaN,NaN
340,Gentoo,Biscoe,46.8,14.3,215.0,4850.0,FEMALE
341,Gentoo,Biscoe,50.4,15.7,222.0,5750.0,MALE
342,Gentoo,Biscoe,45.2,14.8,212.0,5200.0,FEMALE
343,Gentoo,Biscoe,49.9,16.1,213.0,5400.0,MALE

In [7]:
#Q3 Perform Visuzlizations
 #Univariate Analysis
# Bi- Variate Analysis
# Multi-Variate Analysis

In [8]:
#Q4 Perform descriptive statistics on the dataset.
df.describe()

       culmen_length_mm  culmen_depth_mm  flipper_length_mm  body_mass_g
count        342.000000       342.000000         342.000000   342.000000
mean          43.921930        17.151170         200.915205  4201.754386
std            5.459584         1.974793          14.061714   801.954536
min           32.100000        13.100000         172.000000  2700.000000
25%           39.225000        15.600000         190.000000  3550.000000
50%           44.450000        17.300000         197.000000  4050.000000
75%           48.500000        18.700000         213.000000  4750.000000
max           59.600000        21.500000         231.000000  6300.000000

In [12]:
#Q5. Check for Missing values and deal with them.
df.isnull().sum()

species               0
island                0
culmen_length_mm      2
culmen_depth_mm       2
flipper_length_mm     2
body_mass_g           2
sex                  10
dtype: int64

In [16]:
df=df.dropna()
df.isnull().sum()

species              0
island               0
culmen_length_mm     0
culmen_depth_mm      0
flipper_length_mm    0
body_mass_g          0
sex                  0
dtype: int64

In [17]:
#Q6. Find the outliers and replace them outliers

In [25]:
#Q7.Check the correlation of independent variables with the target
#this cannot be done untill encoding is performed

In [33]:
#Q8.Check for Categorical columns and perform encoding.
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 334 entries, 0 to 343
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species            334 non-null    object
 1   island             334 non-null    object
 2   culmen_length_mm   334 non-null    float64
 3   culmen_depth_mm    334 non-null    float64
 4   flipper_length_mm  334 non-null    float64
 5   body_mass_g        334 non-null    float64
 6   sex                334 non-null    object
dtypes: float64(4), object(3)
memory usage: 20.9+ KB

In [ ]:
#categorical columns are species, island and sex

In [36]:
le=LabelEncoder()
df['species']=le.fit_transform(df['species'])
df['island']=le.fit_transform(df['island'])
df['sex']=le.fit_transform(df['sex'])

In [37]:
#Q7
df.corr()

,species,island,culmen_length_mm,culmen_depth_mm,flipper_length_mm,body_mass_g,sex
species,1.000000e+00,-0.623595,0.729262,-0.740803,0.851351,0.751020,-1.625802e-17
island,-6.235949e-01,1.000000,-0.337009,0.568885,-0.555759,-0.560518,-4.147089e-03
culmen_length_mm,7.292618e-01,-0.337009,1.000000,-0.228640,0.652126,0.589066,3.386764e-01
culmen_depth_mm,-7.408034e-01,0.568885,-0.228640,1.000000,-0.578730,-0.472987,3.740342e-01
flipper_length_mm,8.513508e-01,-0.555759,0.652126,-0.578730,1.000000,0.873211,2.411210e-01
body_mass_g,7.510201e-01,-0.560518,0.589066,-0.472987,0.873211,1.000000,4.115305e-01
sex,-1.625802e-17,-0.004147,0.338676,0.374034,0.241121,0.411531,1.000000e+00

In [ ]:
#species is highly correlated with the 4 phyical features

In [38]:
#Q9. Split the data into dependent and independent variables.
x=df.drop('species',axis=1)
x=x.drop('island',axis=1)
x=x.drop('sex',axis=1)
y=df.species

In [39]:
#x is independent, y is dependent

In [42]:
#Q10. Scaling the data
scale = StandardScaler()

In [44]:
x=scale.fit_transform(x)

In [46]:
#Q11. Split the data into training and testing
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3)

In [48]:
#Q12.check the training and testing data shape.
x_train.shape

(233, 4)

In [49]:
x_test.shape

(101, 4)

In [50]:
y_train.shape

(233,)

In [51]:
y_test.shape

(101,)